body {
    margin: 0;
    height: 100%;
    background-color: #FFE;
    overflow-y: scroll;
    background: #ebebe0;
}

#sidebar {
    min-width: 15%;
    max-width: 15%;
    height: 100%;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }
    
    #mainPanel {
        margin-left: 0%;
        width: 100%;
    }
}

#mainPanel {
    margin-left: 15%;
    width: 85%;
    height: 100%;
}

#messageContainer {
    width: 100%;
    max-height: 700px;
    overflow-y: scroll;
}

#imControls {
    width: 80%;
    height: 5%;
    bottom: 0;
    position: absolute;
}

#message {
    width: 85%;
    margin: 10px;
    border: solid;
    border-color: #e68a00;
}

#sendMessageButton {
    width: 10%;
    margin: 10px;
    float: right;
    border: solid;
    border-color: #e68a00;
}

.row {
    border: solid;
}


#myAccount {
    padding: 5px;
    margin-bottom: 20px;
}

#myAccountPhoto {
    width: 20%;
}

#myAccountName {
    display: block;
    font-size: 1.5em;
    font-family: serif, sans-serif;
}

#myAccountSettings {
    float: right;
    width: 20%;
}

.conversation {
    background: transparent;
    border: solid #f79824 1px;
    border-radius: 7px;
    margin: 5px 5px;
}

.conversation img {
    width: 15%;
}

.conversation a {
    color: #f79824;
    text-decoration: none;
}

.conv-name {
    font-size: 1.2em;
    text-decoration: none;
    color: darkviolet;
    vertical-align: middle;
}

.sidebar {
    color: white;
    height: 100%;
    width: 190px;
    position: fixed;
    margin-left: 10px;
    border-style: solid;
    border-color: #0bf;
}

.sidebar-heading {
    text-align: center;
    padding: 5px 0px;
    margin: 10px 5px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

.discussion {
    list-style: none;
    margin: 0;
    padding: 0 0 50px 0;
}

.discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.discussion .avatar {
    width: 40px;
    position: relative;
}

.discussion .avatar img {
    display: block;
    width: 100%;
}

.other .avatar:after {
    font-size: 1.2em;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .messages {
    order: 1;
    border-bottom-right-radius: 0;
}
.self .messages p{
     font-size: 1.2em;
}
.username {
    font-size: .5rem;
}

.self .avatar {
    order: 2;
}

.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.messages p {
    font-size: 2.0rem;
    margin: 0 0 0.2rem 0;
}

.messages time {
    font-size: 1.0rem;
    color: #000;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}

.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
    float: left;
}

#submitButton {
    display: block;
    padding-top: 25px ;
    
}

.fa {
    color: #e68a00;
}

