
body {
    margin: 0;
    height: 100%;
    background-color: #FFE;
}

.main {
    margin-left: 205px;
}

#myAccount {
    padding: 5px;
    margin-bottom: 20px;
}

#myAccountPhoto {
    width: 20%;
}

#myAccountName {
    display: block;
    font-size: 1.5em;
    font-family: serif, sans-serif;
}

#myAccountSettings {
    float: right;
    width: 20%;
}

#sidebarData {
    position: absolute;
    max-height: 70%;
    width: 183px;
    overflow-y: auto;
}

#sidebar-subaccount {
    height: 70vh;
    bottom: 0;
}


.conversation {
    background: transparent;
    border: solid #f79824 1px;
    border-radius: 7px;
    margin: 5px 5px;
}

.conversation img {
    width: 15%;
}

.conversation a {
    color: #f79824;
    text-decoration: none;
}

.conv-name {
    font-size: 1.2em;
    text-decoration: none;
    color: darkviolet;
    vertical-align: middle;
}

.sidebar {
    color: white;
    height: 100%;
    width: 190px;
    position: fixed;
    margin-left: 10px;
    border-style: solid;
    
    border-color: #0bf;
}

.sidebar-heading {
    text-align: center;
    padding: 5px 0px;
    margin: 10px 5px;
    border-top: solid white 1px;
    border-bottom: solid white 1px;
}

#message {
    width: 75%;
}

#searchContainer {
    float: right;

}

#messageContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.discussion {
    list-style: none;
    margin: 0;
    padding: 0 0 50px 0;
}

.discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.discussion .avatar {
    width: 40px;
    position: relative;
}

.discussion .avatar img {
    display: block;
    width: 100%;
}

.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .messages {
    order: 1;
    border-bottom-right-radius: 0;
}

.self .avatar {
    order: 2;
}

.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.messages p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
}

.messages time {
    font-size: 0.7rem;
    color: #ccc;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}

.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
    float: left;
}

#submitButton {
    display: block;
    padding-top: 25px ;
    
}

#imControls {
    position: fixed;
    bottom: 5px;
}

.fa {
    color: #e68a00;
}

