.body {
    background-color: #feebb9;
}

.container {
    padding: 10px;
}

.fluid-container {
    text-align: left;
}

.btn-primary{
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f79824;
    color: black;
}

.well .well-lg .change-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 400px;
}

.form-group {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    text-align: center;
    margin: 1%;
}

#profileRowDiv {
    margin: 1%;
}

#profileContainer {
    margin-left: 1%;
    padding: 20px;
}

#backBtn {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

button: #logoutButton {
    float: right;
    color: orange;
    background-color: orange;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
}