/* The side navigation menu */
.slider {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; /* Stay docked at the left */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background: rgba(0, 0, 0, 0.7);
}

.slider div {
    text-align: center;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0.3s;
}

#sliderFormDiv {
    text-align: center;
}

#sliderInput {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* Position and style the close button (top right corner) */
#closeBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 80px;
    margin-left: 50px;
    color: #e68a00;
    background: rgba(0, 0, 0, 0.1);
}